body {
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode  */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .bg-dark {
    background-color: #1a1a1a;
}

body.dark-mode .card {
    background-color: #1E1E1E ;
    border-color: #333333 ;
    color: #ffffff;
}

body.dark-mode .table-dark {
    background-color: transparent;
}

body.dark-mode .text-white-50 {
    color: rgba(255,255,255,0.5);
}

/* Light Mode */
body.light-mode {
    background-color: #f4f4f4;
    color: #333333;
}

body.light-mode .bg-dark {
    background-color: #ffffff;
}

body.light-mode .card {
    background-color: #ffffff;
    border-color: #e0e0e0 ;
    color: #333333;
}

body.light-mode .table {
    color: #333333;
}

body.light-mode .text-white-50 {
    color: rgba(0,0,0,0.5);
}