<div ng-controller="questionController as qpCtrl">
    <div class="container-fluid vh-100 d-flex flex-column" style="background-color: #121212;">
        <div class="container my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-xl-10 py-3 py-md-5">
                    <div class="card" style="background: linear-gradient(45deg, #1a1a1a, #2d2d2d); border: 1px solid #404040; border-radius: 12px;">
                        <div class="card-body p-3 p-md-5" id="form">
                            <h1 class="display-6 mb-3 mb-md-4 text-white">Create Question Paper</h1>
                            
                            <div class="row mb-3">
                                <div class="col-12 col-md-6 mb-3">
                                    <select class="form-select" ng-model="qpCtrl.selectedCourse" required style="background-color: rgba(255,255,255,0.1); color: #ffffff; border: 1px solid rgba(255,255,255,0.2);">
                                        <option value="">Select Course</option>
                                        <option value="cs">Computer Science</option>
                                        <option value="it">Information Technology</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <select class="form-select" ng-model="qpCtrl.selectedDepartment" required style="background-color: rgba(255,255,255,0.1); color: #ffffff; border: 1px solid rgba(255,255,255,0.2);">
                                        <option value="">Select Department</option>
                                        <option value="eng">Engineering</option>
                                        <option value="mgmt">Management</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <select class="form-select" ng-model="qpCtrl.selectedYear" required style="background-color: rgba(255,255,255,0.1); color: #ffffff; border: 1px solid rgba(255,255,255,0.2);">
                                        <option value="">Select Year</option>
                                        <option value="1">First Year</option>
                                        <option value="2">Second Year</option>
                                        <option value="3">Third Year</option>
                                        <option value="4">Fourth Year</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <select class="form-select" ng-model="qpCtrl.selectedSubject" required ng-disabled="!qpCtrl.selectedYear" style="background-color: rgba(255,255,255,0.1); color: #ffffff; border: 1px solid rgba(255,255,255,0.2);">
                                        <option value="">Select Subject</option>
                                        <option value="ds">Data Structures</option>
                                        <option value="algo">Data Algorithms</option>
                                        <option value="dbms">Database Management</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" 
                                            ng-click="qpCtrl.openQuestionModal()" 
                                            ng-disabled="!qpCtrl.selectedSubject" 
                                            data-bs-toggle="modal" 
                                            data-bs-target="#questionModal">
                                        Create Question Paper
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="questionModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content" id="form" style="background-color: #1a1a1a;">
                <div class="modal-header border-bottom border-secondary">
                    <h5 class="modal-title text-white">Add Questions</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form ng-submit="qpCtrl.saveQuestionPaper()">
                        <div ng-repeat="question in qpCtrl.questions" class="card mb-3" style="background-color: rgba(255,255,255,0.05); border: 1px solid rgba(255,255,255,0.1);">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label class="form-label text-white">Question</label>
                                        <textarea class="form-control" required ng-model="question.text" placeholder="Enter question" style="background-color: rgba(255,255,255,0.1); color: #ffffff; border: 1px solid rgba(255,255,255,0.2);"></textarea>
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <div class="col-12 col-md-6 mb-2" ng-repeat="(optionIndex, option) in question.options track by $index">
                                        <div class="input-group">
                                            <label class="form-label text-white w-100">Option {{optionIndex + 1}}</label>
                                            <input type="text" required class="form-control" ng-model="question.options[optionIndex]" placeholder="Enter option" style="background-color: rgba(255,255,255,0.1); color: #ffffff; border: 1px solid rgba(255,255,255,0.2);">
                                            <button type="button" class="btn btn-danger" ng-if="question.options.length > 2" ng-click="qpCtrl.removeOption($parent.$index, optionIndex)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-success me-2" 
                                                ng-click="qpCtrl.addOption($index)" 
                                                ng-disabled="question.options.length >= 6">
                                            Add Option
                                        </button>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-12">
                                        <label class="form-label text-white">Correct Answer</label>
                                        <select class="form-select" ng-model="question.correctAnswer" required style="background-color: rgba(255,255,255,0.1); color: #ffffff; border: 1px solid rgba(255,255,255,0.2);">
                                            <option value="">Select Correct Option</option>
                                            <option ng-repeat="i in question.options track by $index" value="{{$index}}">
                                                Option {{$index + 1}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row mt-3" ng-if="qpCtrl.questions.length > 1">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-danger w-100" ng-click="qpCtrl.remove($index)">
                                            Remove Question
                                        </button>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-success mb-3" ng-click="qpCtrl.addQuestion()">
                                            <i class="bi bi-plus"></i> Add Another Question
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="qpCtrl.saveQuestionPaper()">
                        Save Question Paper
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
